/* nav */
.nav {
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .nav a {
    color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .nav a:hover {
    transition: 0.1s;
    background-color: #e1ecff;
  }
  .nav div {
    width: 1px;
    background-color: var(--border-color);
  }
  
  .nav a span{
    transform: scaleX(-1) !important;
    display: block;
  }

  .chName{
    display: flex;
    align-items: center;
    font-size: 16px !important;
  }

  .chName span{
    font-size: 12px;
  }
  